* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    /* overflow: hidden; */
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(to right, #eb4691 50%, #46c3e3 50%);
    color: #fff;
    text-align: center;
}
/* img {
                width: 200px;
            } */

.hidden {
    display: none !important;
}

.title {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;
}
.paragraph {
    width: 400px;
    margin-bottom: 60px;
}

.content .file {
    display: none;
}

.content label {
    /* border: 1px solid;
                border-right-color: #eb4691;
                border-left-color: #46c3e3;
                border-top-color: #46c3e3;
                border-bottom-color: #eb4691; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.content label video,
.btn-download video {
    margin-left: 10px;
}

.merged-image {
    border-radius: 1%;
}

.btn-download {
    margin-top: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    border-radius: 3px;
}

.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}
